body{
  margin: 0;
}

.nav{
  background-color: black;
  color:white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 1rem;
  gap:2rem;
  
}

.nav a{
  text-decoration: none;
  display: flex;
  align-items: center;
  height:100%;
  color: inherit;
}

.nav ul{
  list-style: none;
  display: flex;
  gap:6rem;
  padding-right: 30%;
}

.site-title{
  font-size: x-large;
  margin-top: 6px;
}

.nav li.active{
  background-color: blue;
}

.nav li:hover{
  background-color: red;
}

.new-inventory-form{
  padding: 10%;
  margin-left: 10%;
}

.category{
  width: 20%;
  
}

.add-inventory{
  margin-left: 3%;
}

.name{
  margin: 3%;
}