body{
  margin: 0;
}

.nav{
  background-color: black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  gap:2rem;
  
}

.nav a{
  text-decoration: none;
  color: inherit;
}

.nav ul{
  list-style: none;
}

.site-title{
  font-size: x-large;
}